---
import BaseHead from "../components/BaseHead.astro";
import NavMain from "../components/NavMain.astro"
---
<html lang="en">
  <head>
    <BaseHead 
      title="Society 5IVE | Arizona Interior Design"
      description="Society 5IVE is a Buckeye-based interior design studio creating timeless, sustainable spaces through ethical sourcing and thoughtful collaboration."
      image=""
    />
  </head>
  <NavMain />
  <body>

    <main id="main-content">

        <section class="hero home">
            <div class="padding-hero">
                <div class="container">
                    <div class="wrapper-hero">
                        <h1 class="title-page">
                            Spaces That<br/>
                            Feel Like <span class="title-page display-span">Home</span>
                        </h1>
                        <div class="wrapper-buttons">
                            <a class="button-primary" href="/start">
                                Start Your Project
                            </a>
                            <a class="button-secondary" href="/">
                                Download Our Lookbook
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="padding-normal">
                <div class="container">
                    <div class="wrapper-center">
                        <p class="text-body large center">
                            Society 5IVE is a Phoenix-based interior design studio creating lasting spaces with heart. We blend beauty and function using sustainable materials, ethical sourcing, and collaborative design. Whether it’s a home or a commercial space, we design with care, purpose, and a deep respect for the people who live and work there.
                        </p>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
        </section>

    </main>

  </body>

</html>